@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #172554;
  --text-color: #d4d4d8;
  --btn-color: theme("colors.emerald.700");
}

#app {
  background-color: var(--bg-color);
  height: 100vh;
  display: grid;
}

.title {
  color: var(--text-color);
  position: absolute;
  padding: theme("spacing.4");

  & h1 {
    font-size: theme("fontSize.xl");
  }
}

.notice {
  place-self: center;
  text-align: center;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: theme("spacing.4");
  font-size: theme("fontSize.2xl");

  & h2 {
    font-size: theme("fontSize.6xl");
  }

  & .description {
    text-transform: capitalize;
  }

  & button {
    padding: theme("spacing.2") theme("spacing.4");
    background-color: var(--btn-color);
    color: var(--bg-color);
    border-radius: theme("borderRadius.lg");
    font-size: theme("fontSize.2xl");
    cursor: pointer;
    display: inline-block;
    margin-top: theme("spacing.4");
  }
}
