@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #172554;
  --text-color: #d4d4d8;
  --btn-color: theme("colors.emerald.700");
}

#app {
  background-color: var(--bg-color);
  height: 100vh;
  display: grid;
  font-family: sans-serif;
  letter-spacing: -0.005rem;
}

.title {
  color: var(--text-color);
  position: absolute;
  padding: theme("spacing.4");

  & svg {
    fill: var(--text-color);
  }
}

.notice {
  place-self: center;
  text-align: center;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: theme("spacing.4");
  font-size: theme("fontSize.base");
  max-width: 500px;

  & h1 {
    font-size: theme("fontSize.2xl");
    letter-spacing: -0.005rem;
  }

  & .description {
    text-transform: capitalize;
  }

  & button {
    padding: theme("spacing.2") theme("spacing.8");
    background-color: var(--btn-color);
    color: var(--text-color);
    border-radius: theme("borderRadius.lg");
    letter-spacing: -0.005rem;
    cursor: pointer;
    display: inline-block;
    margin-top: theme("spacing.4");
  }
}
